* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Makes the <body> occupy the whole screen vertically */
html,
body {
  height: 100%;
}

html {
  /* Change the default font-size to 10px */
  /* Browser's default font-size is 16px */
  /* So, 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  background-color: #7d889e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 32rem;
  height: 49.7rem;
  background-color: #fff;
  border-radius: 20px;
  /* Prevents the top margin of the image from overflowing */
  overflow: auto;
}

.qr-code {
  width: 28.8rem;
  margin: 1.6rem auto 2.4rem auto;
  display: block;
  border-radius: 10px;
}

.heading-primary {
  width: 28.8rem;
  margin: 0 auto 1.6rem auto;
  color: #1f314f;
  font-size: 2.2rem;
  line-height: 1.21;
  text-align: center;
}

.description {
  width: 25.6rem;
  margin: 0 auto;
  letter-spacing: 0.19px;
  line-height: 1.21;
  color: #7d889e;
  text-align: center;
}
